
.cmd
{
  font-weight: bold;
  color: #98fb98;
}

h1
{
  font-size: 200%;
}

h2
{
  font-size: 175%;
}

h3
{
  font-size: 150%;
}

/* so footer is not messed up */
body
{
  padding-top: 70px;
  padding-bottom: 70px;
}

img
{
  border-radius: 4px;
}

#jumbo-img
{
  float: right;
  margin: 0 0 10px 10px;
}

.clearfix
{
  overflow: auto;
}

